
node_modules
.next
dist
npm-debug.log
yarn-debug.log
yarn-error.log
pnpm-debug.log


.env.local
.env.development
.env.test
.env.*

.DS_Store
Thumbs.db

.git
.gitignore

Dockerfile*
docker-compose*


.vscode
.idea
*.swp
